.itemedit {
    display: flex;
    justify-content: center
}
#myinput {
    margin-right: 10px
}
.itemedit button {
    margin-right: 5px
}
.itemlist {
    display: flex;
    justify-content: center
}
mat-list-item:hover {
    cursor: pointer;
    color: green
}
