<div class="itemedit">
  <input matInput placeholder="please type item" [(ngModel)]="selectedItem" value="selectedItem" id="myinput" >
  <button mat-raised-button color="primary" class="btn-add" (click)="onAdd()">Add</button>
  <button mat-raised-button color="warn" class="btn-del" (click)="onDel()">Delete</button>
</div>
<div class="itemlist">
  <mat-list role="list" *ngIf="items.length > 0">
    <mat-list-item role="listitem" *ngFor="let item of items" (click)="onSelect(item)">{{item}}</mat-list-item>
  </mat-list>
</div>

